body {
    font-size: 16px;
}

/* header */
header {
    height: auto;
    background-color: rgba(248, 248, 248, 0.5);
}

.inner {
    max-width: 1600px;
    margin: 0 auto;
    background-color: rgba(255, 0, 0, 0.2);
    padding: 0 20px;
}

header>.inner {
    background-color: rgba(255, 255, 0, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;

}

.ham-btn {
    display: none;
}

header .header-right img {
    /* height: 54px; */
    /* max-height: 54px; */
    /* width: 18.75em; */
    max-width: 300px;
}

header .main-menu {
    display: flex;
    position: relative;
    border: 2px solid #fff;
}

header .main-menu>li {
    font-size: 1.25em;
    display: flex;
    flex-direction: column;
    gap: 1.875em;
    align-items: center;
    padding: 10px 10px;
    position: relative;
}

header .main-menu>li>a {
    display: block;
}

header .main-menu>li:hover .sub-wrap {
    display: block;

}

header .main-menu>li:hover::after {
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    height: 3px;
    background: #DA291C;
    /* border-bottom: 3px solid #DA291C; */
    bottom: 0;
    left: 0;
}

header .main-menu .sub-wrap {
    position: absolute;
    top: 100%;
    display: none;
}

header .main-menu .sub-menu {
    display: flex;
    /* background-color: aqua; */
    gap: 20px;
}

/* 메뉴사이즈 20px 소메뉴 16px 푸터 14px*/

header .main-menu .sub-menu>li:hover {
    color: #DA291C
}

header .gnb-list {
    display: flex;
    gap: 1.25em;
}

/* 공동사항 */
.section-title {
    padding: 0 0 100px;
}

/* 강력추천 이벤트 */
.banner {
    margin: 0 auto;
    max-width: 100%;
    padding: 20px;
}

main section>h2 {
    font-size: 2.25em;
}

main .event-arco-list {
    display: flex;
}

.event-arco-list>li>a .img-box::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+68 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 30%, rgba(0, 0, 0, 0.5) 50%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}

.event-arco-list .text-box {
    /* background-color: aqua; */
    position: absolute;
    bottom: 1em;
    left: 1em;
}

/* 아코디언 */

.event-arco-wrap {
    overflow: hidden;
}

.event-arco-list {
    display: flex;
    height: 35em;
}

/* 기본 상태 */
.event-arco-list>li {
    position: relative;
    flex: 0 0 120px;
    height: 100%;
    transition: all 0.4s ease;
    overflow: hidden;
}

/* 가운데 배너 기본 확장 */
.event-arco-list>li:nth-child(3) {
    flex: 0 0 1020px;
}

/* hover 시 해당 배너 확장 */
.event-arco-list>li:hover {
    flex: 0 0 1020px;
}

/* hover 중에는 기본 확장 해제 */
.event-arco-list:hover>li:not(:hover) {
    flex: 0 0 120px;
}

/* 이미지 채우기 */
.event-arco-list .img-box {
    width: 100%;
    height: 100%;
}

.event-arco-list img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 텍스트 기본 숨김 */
.event-arco-list .text-box {
    position: absolute;
    bottom: 1.5em;
    left: 1.5em;
    opacity: 0;
    transition: opacity 0.3s;
    color: #fff;
}

/* 펼쳐졌을 때만 텍스트 표시 */
.event-arco-list>li:hover .text-box,
.event-arco-list>li:nth-child(3) .text-box {
    opacity: 1;
}