/* ipad */
@media screen and (max-width:1280px) {
    body {
        font-size: 14px;
    }

    header {
        height: 60px;
    }


    header .main-menu {
        display: block;
        position: fixed;
        left: 20px;
        top: 60px;
        background: #222;
        z-index: 1000;
    }



    .ham-btn {
        display: block;
    }

    header .main-menu>li {
        padding: 10px;
    }

    .main-menu>li>a {
        color: #fff;
        /* padding: 20px; */
    }

    header .main-menu .sub-wrap {
        position: static;
        /* background-color: aqua; */
    }

    header .main-menu .sub-menu {
        display: block;
    }

    header .main-menu>li:hover::after {
        content: "";
        display: none;
        /* padding: 0; */
    }

    .upcoming-list {
        background-color: rgba(0, 255, 0, 0.15);
        display: flex;
        width: calc(100% * 10 / 3 + 2em);
        margin: 0 auto;
        gap: 2em;
    }



}



/* mobile */