/* main - 상영예정작 */
main h2 {
    background-color: rgba(255, 255, 0, 0.5);
    /* max-width: 1600px; */
    font-size: 2.25em;
}

main .upcoming-top {
    display: flex;
    margin: 50px 0;
    justify-content: space-between;
}


.more-area {
    position: relative;
    width: 24px;
    height: 40px;
}

/* + 버튼 */
.more-btn {

    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: end;
    transition: opacity 0.2s ease, transform 0.2s ease;
}

/* 검색폼 */
.movie-search-form {
    border: 1px solid #fff;
    border-radius: 50px;
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.9);
    transition: opacity 0.25s ease, transform 0.25s ease;
}

.movie-search-form button {
    background: none;
    border: none;
}

.movie-search-form input {
    background: none;
    border: none;
}


/* hover 상태 */
.more-area:hover .more-btn {
    opacity: 0;
    transform: scale(0.8);
}

.more-area:hover .movie-search-form {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}


/* 상영예정작 - 리스트 */

.upcoming-list>li>a {
    position: relative;

}

.upcoming-wrap2 {
    border: 1px solid #fff;
    overflow: hidden;
    margin: 0 50px;
}

.upcoming-list {
    background-color: rgba(0, 255, 0, 0.15);
    display: flex;
    width: calc(100% * 10 / 5);
    margin: 0 auto;
    gap: 2em;
}

.upcoming-list>li>a {
    position: relative;
    /* background-color: bisque; */
}

.upcoming-list>li {
    width: 20%;
}

.upcoming-list .img-box {
    /* background-color: aliceblue; */
    /* width: 16.5em; */
    position: relative;
}

.upcoming-list .img-box .poster>img {
    width: 100%;
    border-radius: 15px;
}

.upcoming-list .img-box .dday {
    background-color: #8F9191;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background: none;
    background-repeat: no-repeat;
}


.upcoming-list .text-box>p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}


.upcoming-list .text-box>p:first-child>img {
    width: 1em;
    height: 1em;
}

.upcoming-list .text-box>p:first-child {
    font-size: 1.25em;
    display: flex;
    justify-content: center;
    /* white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}


.upcoming-list .text-box>p:last-child {
    font-size: 0.875rem;
    color: #8F9191;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

/* arrow-btn */
.upcoming .inner {
    position: relative;
}

.arrow-btn>li>a {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    margin-top: 50px;
}

.arrow-btn>.left-btn>a {
    left: 12px;
}

.arrow-btn>.right-btn>a {
    right: 12px;
}

/* main- 바로가기 버튼 */
.info-wrap {
    margin-bottom: 60px;
    padding-top: 50px;
}

.info-list {
    display: flex;
    justify-content: center;
    gap: 156px;
    text-align: center;
}

.info-list>li>img {
    margin-bottom: 12px;
    <<<<<<< HEAD=======
}



/* footer */
footer>.inner {
    background-color: #555;
    display: flex;
    flex-direction: column;
}

footer .footer-top {
    display: flex;
    justify-content: space-between;
}

footer .footer-menu-list {
    display: flex;
    font-size: 0.875em;
    gap: 1.5em;
    padding-left: 0.625em;
}

.search-form {
    border: 1px solid #fff;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    padding: 5px 10px;
}

.search-form button {
    background: none;
    border: none;
}

.search-form input {
    background: none;
    border: none;
}

footer .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .footer-bottom .address-copy>address>p strong {
    font-size: 0.875em;
    padding: 5px;
}

footer .footer-bottom .address-copy>address>p span {
    font-size: 0.875em;
    padding: 5px;
}

footer .footer-bottom .address-copy .copy {
    font-size: 0.875em;
    padding: 5px;
}


footer .ft-bottom-right {
    display: flex;
    justify-content: space-between;
    gap: 1.5em;
    align-items: center;
}

.address-copy {
    line-height: 1.4;
    gap: 1em;
}

.footer-bottom-right {
    display: flex;
    gap: 9em;
}

footer .family-mark {
    display: flex;
    align-items: center;
}

footer .sns-list {
    display: flex;
}

.sns-list>li>a {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #444;
    width: 50px;
    height: 50px;
    border-radius: 50px;

    .arrow-btn .right-btn {
        right: 300px;
    }






    /* 본문 */
    .curator-part {
        margin: 50px 0;
    }

    .curator-part>.inner {
        padding: 0 10px;
    }

    .curator-part>.inner>h2 {
        font-size: 2.25em;
    }

    /* curator-menu */
    .curator-menu {
        display: flex;
        /* gap: 24px; */
        margin: 24px 0;
        align-items: center;
    }

    .curator-menu>li {
        position: relative;
        padding: 0 12px;
    }

    .curator-menu>li:nth-child(2)::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 2px;
        height: 12px;
        background-color: rgba(255, 255, 255, 0.75);
    }

    .curator-menu>li>a {
        display: block;
        padding: 8px 20px;
        transition: 0.18s ease-in-out;
        font-size: 1.25em;
    }

    .curator-menu>li>a:hover {
        color: #da291c;
        font-weight: 700;
    }

    /* curator-moive-inner-wrap - 숨김처리 하는 영역*/

    /* curator-moive-set - 추천영화 리스트 아이템*/
    .curator-moive-set {
        display: flex;
        gap: 24px;
    }

    /* 추천 리스트 아이템 1번 */
    /* curator-moive-item */
    .curator-moive-item {
        display: flex;
        gap: 10px;
    }

    /* 추천 리스트 아이템 - 영화 포스터*/
    .curator-moive-poster {
        max-width: 385px;
        object-fit: cover;
        border-radius: 12px;
        overflow: hidden;
    }

    .curator-moive-poster>img {
        width: 100%;
        height: 100%;
    }

    /* 추천 리스트 아이템 - 우측영역 세로 정렬 */
    .curator-moive-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 12px 0;
    }

    /* 추천 리스트 아이템 - 제목*/
    .curator-moive-info .title-wrap {
        display: flex;
        /* gap: 12px; */
        align-items: center;
    }

    .curator-moive-info .title-wrap>h3 {
        font-size: 2.25em;
    }

    .curator-moive-info .title-wrap>span {
        width: 1.5em;
        aspect-ratio: 1/1;
    }

    /* 추천 리스트 아이템 - 한줄평*/
    .curator-moive-info .comment-wrap {
        display: flex;
        gap: 12px;
        align-items: center;
        /* margin: 1.25em 0; */
    }

    .curator-moive-info .comment-wrap>span {
        width: 1em;
        aspect-ratio: 1/1;
    }

    .curator-moive-info .comment-wrap>p {
        font-size: 1.25em;
    }

    /* 추천 리스트 아이템 - 영화내용*/
    .curator-moive-info .plot-info {
        font-size: 1.125em;
        color: #cbcbcb;
    }

    /* 하단 영화 알아보기 버튼 */
    .curator-moive-act-wrap {
        display: flex;
        gap: 12px;
    }

    .curator-moive-act-wrap>li>a {
        display: block;
        padding: 12px 40px;
        border: 1px solid white;
        border-radius: 100px;
        /* margin-top: 10px; */
    }

    .curator-moive-act-wrap>li.accent>a {
        border-color: transparent;
        background-color: #da291c;
        font-weight: 700;
    }


    /* footer */
    footer {
        position: fixed;
        width: 100%;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        /* 실제적용 */
        background: rgba(0, 0, 0, 0.65);
        font-size: 14px;
    }


    footer>.inner {
        padding: 0 20px;
        margin: 10px auto;
    }

    /* footer - 상단 */
    .footer-top {
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer-menu {
        display: flex;
        gap: 10px;

    }

    .search-form {
        border: 1px solid white;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        gap: 8px;
        padding: 5px 10px;
    }

    .search-form button,
    .search-form input {
        background: none;
        border: none;
    }

    .search-form input {
        font-family: inherit;
        color: rgba(255, 255, 255, 0.75);
    }

    /* footer - 하단 */
    .footer-buttom {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .family-award {
        display: flex;
    }

    .family-award .text-box {
        font-size: 0.875em;
    }

    .sns-list {
        display: flex;
        gap: 20px;
        >>>>>>>f7db3cf9f7ba29e30807c3e698e027de3534d34a
    }