body {
    background: #000;
    color: #fff;
}

.inner {
    max-width: 1600px;
    margin: 0 auto;
    /* background: rgba(255, 0, 0, 0.2); */
}

.ham-btn {
    display: none;
}
/* header */
/* header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #000;
    width: 1920px;
    z-index: 1000;
} */

.main-logo {
    width: 300px;
    height: 54px;
}

header .inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 54px;
    margin-top: 23px;
    margin-bottom: 23px;
}

.main-menu {
    display: flex;
    font-size: 1.25em;
    gap: 60px;
}

.main-menu>li {
    padding: 10px 0;
    position: relative;
}

.main-menu>li::after {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background: #DA291C;
    position: absolute;
    top: 44px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s;
}

.main-menu>li:hover::after {
    width: 100%;
}

.main-menu>li:hover .sub-menu {
    /* display: block; */
    height: auto;
}

.sub-menu {
    /* display: none; */
    display: flex;
    justify-content: center;
    gap: 20px;
    height: 0;
    overflow: hidden;
    position: absolute;
    width: 500px;
    top: 46px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
}

.sub-menu>li>a {
    display: block;
    /* background: rgb(32, 32, 32); */
    text-align: center;
    padding: 15px 0;
}

/* .sub-menu>li>a:hover::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #fff;
} */

.sub-menu>li>a:hover {
    color: #DA291C;
}

.gnb-list {
    display: flex;
    gap: 20px;
}

/* section */
.event-wrap {
    padding: 50px 0;
}

.event-wrap-inner {
    display: flex;
    gap: 47px;
}

.event-wrap .event-name-search {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: relative;
}

.event-wrap .event-name-search>h2 {
    font-size: 2.25em;
    font-weight: bold;
}

.event-wrap .event-name-search>p {
    font-size: 2.5em;
    font-weight: bold;
}

.event-left {
    position: relative;
    padding: 0 38px;
    width: 100%;
    overflow: hidden;
}

.event-slider {
    display: flex;
    align-items: center;
    gap: 36px;
    margin-top: 50px;
}

.event-slider>li {
    flex: 0 0 calc(100% / 3.2);
}

.event-slider>li>a {
    position: relative;
}

.event-slider>li>a .img-box {
    /* width: 302px;
    height: 400px; */
    border-radius: 30px;
    overflow: hidden;
    aspect-ratio: 1/1.2;
}

.event-slider .main .img-box {
    /* width: 400px;
    height: 530px; */
    border-radius: 30px;
    transform: scale(1.1);
}

.event-slider>li>a .img-box>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.event-slider>li>a .text-box {
    position: absolute;
    gap: 12px;
    width: 200px;
    text-align: center;
    bottom: 22px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

.event-slider .main .text-box>h3 {
    font-size: 1.25em;
    font-weight: bold;
}

.event-slider .main .text-box>p {
    font-size: 1em;
    font-weight: 500;
}

.event-slider .main .text-box>span {
    font-size: 1em;
    font-weight: 500;
}

.event-slider>li>a .text-box>h3 {
    padding-bottom: 4px;
    font-size: 1em;
    font-weight: bold;
}

.event-slider>li>a .text-box>p {
    padding-bottom: 12px;
    font-size: 1em;
    font-weight: 500;
}

.event-slider>li>a .text-box>span {
    font-size: 1em;
    font-weight: 500;
    color: #8F9191;
}

.event-slider>li>a::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    border-radius: 30px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    transform: scale(1.1)
}

.event-wrap .arrow-btn>li>a {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.event-wrap .arrow-btn .arrow-btn-left>a {
    left: 0;
}

.event-wrap .arrow-btn .arrow-btn-right>a {
    right: 0px;
}

.preview {
    position: relative;
    margin: 50px 0 20px;
}

.preview:hover .img-box img {
    transform: scale(1.2);
}

.preview .img-box {
    width: 400px;
    height: 260px;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    /* z-index:; */
}


.preview .img-box::before {
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background: #da291c;
    position: absolute;
    z-index: 99;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.preview .img-box::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 30%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.preview .img-box>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}



.preview .img-box p {
    position: absolute;
    font-size: 1.5em;
    font-weight: 600;
    top: 24px;
    right: 14px;
    z-index: 100;
}

.preview .text-box {
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 100;
}

.preview .text-box h3 {
    font-size: 2em;
    font-weight: 600;

}

.preview .text-box p {
    font-size: 1em;
    font-weight: 500;

}

.sale {
    width: 400px;
    overflow: hidden;
}

.sale-list {
    display: flex;
    gap: 24px;
}

.NuriCard {
    width: 400px;
    height: 250px;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    background: linear-gradient(to bottom, rgba(85, 85, 85, 1) 0%, rgba(38, 38, 38, 1) 100%);
    transition: 0.5s;
}

.NuriCard:hover .NuriCard-img {
    transform: scale(1.3);
}

.NuriCard .NuriCard-img {
    position: absolute;
    width: 300px;
    bottom: 0;
    right: 0;
    transition: 0.5s;
}

.NuriCard .NuriCard-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    padding: 33px 31px 10px 40px;
}


.NuriCard .NuriCard-top {
    display: flex;
    position: relative;
    border: 2px solid #fff;
}

header .main-menu>li {
    font-size: 1.25em;
    display: flex;
    flex-direction: column;
    gap: 1.875em;
    align-items: center;
    gap: 24px;
    padding: 33px 31px 10px 40px;
}

.NuriCard .NuriCard-top>p {
    font-size: 1em;
    font-weight: 500;
}

.NuriCard .NuriCard-top>span {
    font-size: 2em;
    font-weight: 600;
}

.NuriCard .NuriCard-mid {
    display: flex;
    align-items: center;
    gap: 29px;
    padding-left: 40px ;
    padding-right: 109px;
}

.NuriCard .NuriCard-mid>p {
    font-size: 1.5em;
    font-weight: 600;
}

.TossPay {
    width: 400px;
    height: 250px;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
}

.TossPay::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: linear-gradient(to bottom,  
    rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 30%,rgba(0,0,0,0) 50%
    ,rgba(0,0,0,0) 75%,rgba(0,0,0,0.5) 100%);
}

.TossPay .TossPay-img {
    /* transform: scale(1.2); */
    transition: 0.5s;
}

.TossPay:hover .TossPay-img {
    transform: scale(1.1);
}

.TossPay .TossPay-top {
    display: flex;
    gap: 47px;
}

.event-wrap .event-name-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    position: absolute;
    top: 30px;
    left: 12%;
    z-index: 100;
}

.TossPay .TossPay-top p {
    font-size: 1em;
    font-weight: 500;
}

.TossPay .TossPay-top span {
    font-size: 2em;
    font-weight: 600;
}

.TossPay .TossPay-bottom {
    position: absolute;
    text-align: center;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

.TossPay .TossPay-bottom p {
    font-size: 1.5em;
    font-weight: bold;
    z-index: 100;
}

.info-wrap {
    margin-bottom: 60px;
    padding-top: 50px;
}

.info-list {
    display: flex;
    justify-content: center;
    gap: 156px;
    text-align: center;
}

.info-list>li>img {
    margin-bottom: 12px;
}

/* footer */
.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px 36px;

}

.footer-top .util-menu {
    display: flex;
    gap: 24px;
    font-size: 0.875em;
    font-weight: 400;
    color: #dbdbdb;
}

.footer-top .util-menu>li:nth-child(3)>a {
    font-weight: bold;
    text-decoration: underline;
    color: #fff;
}

.footer-top .search-wrap>a {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 36px;
    border: 1px solid #fff;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.1);
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    align-items: center;
    margin: 0 20px;
}

.footer-bottom>.footer-bottom-left {
    display: flex;
    align-items: center;
    gap: 24px;
}

.footer-bottom>div address {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 0.875em;
    color: #dbdbdb;
}

.footer-bottom>div address span,
strong {
    margin-right: 14px;
}

.footer-bottom>div address span {
    font-weight: 400;
}

.footer-bottom .footer-bottom-right {
    display: flex;
    align-items: center;
    gap: 144px;
}

.footer-bottom .family {
    display: flex;
    align-items: center;
    font-size: 0.875em;
    color: #dbdbdb;
}

.footer-bottom .family img {
    width: 47px;
    height: 45px;
}

.footer-bottom .sns-list {
    display: flex;
    gap: 12px;
}

.footer-bottom .sns-list>li>a {
    display: block;
    width: 51px;
    height: 48px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    padding: 12px 13px;
}