/* 공통영역 */
.inner {
    width: calc(1920px - 320px);
    margin: 0 auto;
    background-color: rgba(255, 0, 0, 0.08);
}

body {
    background-color: #121212;
    width: 100vw;
    height: 400vh;
    color: white;
}



/* 본문 */
.curator-part {
    margin: 50px 0;
}

.curator-part>.inner {
    padding: 0 10px;
}

.curator-part>.inner>h2 {
    font-size: 2.25em;
}

/* curator-menu */
.curator-menu {
    display: flex;
    /* gap: 24px; */
    margin: 24px 0;
    align-items: center;
}

.curator-menu>li {
    position: relative;
    padding: 0 12px;
}

.curator-menu>li:nth-child(2)::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 2px;
    height: 12px;
    background-color: rgba(255, 255, 255, 0.75);
}

.curator-menu>li>a {
    display: block;
    padding: 8px 20px;
    transition: 0.18s ease-in-out;
    font-size: 1.25em;
}

.curator-menu>li>a:hover {
    color: #da291c;
    font-weight: 700;
}

/* curator-moive-inner-wrap - 숨김처리 하는 영역*/

/* curator-moive-set - 추천영화 리스트 아이템*/
.curator-moive-set {
    display: flex;
    gap: 24px;
}

/* 추천 리스트 아이템 1번 */
/* curator-moive-item */
.curator-moive-item {
    display: flex;
    gap: 10px;
}

/* 추천 리스트 아이템 - 영화 포스터*/
.curator-moive-poster {
    max-width: 385px;
    object-fit: cover;
    border-radius: 12px;
    overflow: hidden;
}

.curator-moive-poster>img {
    width: 100%;
    height: 100%;
}

/* 추천 리스트 아이템 - 우측영역 세로 정렬 */
.curator-moive-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px 0;
}

/* 추천 리스트 아이템 - 제목*/
.curator-moive-info .title-wrap {
    display: flex;
    /* gap: 12px; */
    align-items: center;
}

.curator-moive-info .title-wrap>h3 {
    font-size: 2.25em;
}

.curator-moive-info .title-wrap>span {
    width: 1.5em;
    aspect-ratio: 1/1;
}

/* 추천 리스트 아이템 - 한줄평*/
.curator-moive-info .comment-wrap {
    display: flex;
    gap: 12px;
    align-items: center;
    /* margin: 1.25em 0; */
}

.curator-moive-info .comment-wrap>span {
    width: 1em;
    aspect-ratio: 1/1;
}

.curator-moive-info .comment-wrap>p {
    font-size: 1.25em;
}

/* 추천 리스트 아이템 - 영화내용*/
.curator-moive-info .plot-info {
    font-size: 1.125em;
    color: #cbcbcb;
}

/* 하단 영화 알아보기 버튼 */
.curator-moive-act-wrap {
    display: flex;
    gap: 12px;
}

.curator-moive-act-wrap>li>a {
    display: block;
    padding: 12px 40px;
    border: 1px solid white;
    border-radius: 100px;
    /* margin-top: 10px; */
}

.curator-moive-act-wrap>li.accent>a {
    border-color: transparent;
    background-color: #da291c;
    font-weight: 700;
}