.main-slider-wrap {
    /* overflow: hidden; */
}

.main-slider-inner {
    position: relative;
    height: 100vh;
    min-height: 720px;
}

.main-slider-list {
    display: flex;
    width: calc(100% * 10);
    height: 100%;
}

.main-slider-list>li {
    position: relative;
    width: 100vw;
    height: 100%;
}

.main-slider-image {
    position: relative;
    width: 100%;
    height: 100%;
}

.main-slider-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-slider-image::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 1) 100%);
}


.text-box-wrap {
    position: absolute;
    top: 220px;
    left: 120px;
    z-index: 2;
    max-width: 600px;
}

.slider-special-cinema-logo {
    display: flex;
    gap: 12px;
    margin-bottom: 10px;
}

.slider-special-cinema-logo img {
    height: 26px;
}

.text-box-wrap>.movie-name {
    font-size: 3em;
    color: #fff;
    font-weight: bold;
}

.information {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #fff;
}

.information>p {
    display: flex;
    align-items: center;
    margin: 20px 0 20px;
    gap: 7px;
}

.information>p img {
    display: block;
    height: 15px;
}

.information>p>span::before {
    content: "";
    opacity: 0.5;
    margin-left: 7px;
    background: #8F9191;
    width: 1px;
    height: 12px;
    display: block;
}

.movie-story {
    color: #fff;
    opacity: 0.7;
    line-height: 1.5;
    font-size: 0.88em;
    margin-bottom: 60px;
}

.btn-wrap {
    display: flex;
    gap: 12px;
}

.btn-wrap a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 39px;
    padding: 0 57px;
    line-height: 1;
    border-radius: 30px;
    color: #fff;
}

.btn-wrap .info-btn {
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid #fff;
}

.btn-wrap .reservation-btn {
    background: #da291c;
    border: 1px solid #da291c;
}

.slider-poster-list-wrap {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 100;
}

.slider-poster-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.slider-poster-list>li {
    position: relative;
    display: none;
    flex-shrink: 0;
}

.slider-poster-list>li img {
    position: relative;
    display: block;
    border-radius: 15px;
    width: 100%;
    height: auto;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
}

.slider-poster-list>li p {
    display: block;
    position: absolute;
    bottom: 5px;
    left: 10px;
    color: #fff;
    font-size: 32px;
    font-style: italic;
    font-weight: 800;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.slider-poster-list .rank-08,
.slider-poster-list .rank-04 {
    display: block;
    width: 140px;
}

.slider-poster-list .rank-09,
.slider-poster-list .rank-03 {
    display: block;
    width: 160px;
}

.slider-poster-list .rank-10,
.slider-poster-list .rank-02 {
    display: block;
    width: 180px;
}

.slider-poster-list .rank-01 {
    display: block;
    width: 200px;
}

.arrow-btn {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
}

.arrow-btn>li {
    position: absolute;
}

.arrow-btn>li img {
    width: 10px;
}

.arrow-btn .left-btn {
    left: 300px;
}

.arrow-btn .right-btn {
    right: 300px;
}