/* main - 상영예정작 */
main h2 {
    background-color: rgba(255, 255, 0, 0.5);
    /* max-width: 1600px; */
    font-size: 2.25em;
}

main .upcoming-top {
    display: flex;
    margin: 50px 0;
    justify-content: space-between;
}


.more-area {
    position: relative;
    width: 24px;
    height: 40px;
}

/* + 버튼 */
.more-btn {

    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: end;
    transition: opacity 0.2s ease, transform 0.2s ease;
}

/* 검색폼 */
.movie-search-form {
    border: 1px solid #fff;
    border-radius: 50px;
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.9);
    transition: opacity 0.25s ease, transform 0.25s ease;
}

.movie-search-form button {
    background: none;
    border: none;
}

.movie-search-form input {
    background: none;
    border: none;
}


/* hover 상태 */
.more-area:hover .more-btn {
    opacity: 0;
    transform: scale(0.8);
}

.more-area:hover .movie-search-form {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}


/* 상영예정작 - 리스트 */

.upcoming-list>li>a {
    position: relative;

}

.upcoming-wrap2 {
    border: 1px solid #fff;
    overflow: hidden;
    margin: 0 50px;
}

.upcoming-list {
    background-color: rgba(0, 255, 0, 0.15);
    display: flex;
    width: calc(100% * 10 / 5);
    margin: 0 auto;
    gap: 2em;
}

.upcoming-list>li>a {
    position: relative;
    /* background-color: bisque; */
}

.upcoming-list>li {
    width: 20%;
}

.upcoming-list .img-box {
    /* background-color: aliceblue; */
    /* width: 16.5em; */
    position: relative;
}

.upcoming-list .img-box .poster>img {
    width: 100%;
    border-radius: 15px;
}

.upcoming-list .img-box .dday {
    background-color: #8F9191;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background: none;
    background-repeat: no-repeat;
}


.upcoming-list .text-box>p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}


.upcoming-list .text-box>p:first-child>img {
    width: 1em;
    height: 1em;
}

.upcoming-list .text-box>p:first-child {
    font-size: 1.25em;
    display: flex;
    justify-content: center;
    /* white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}


.upcoming-list .text-box>p:last-child {
    font-size: 0.875rem;
    color: #8F9191;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

/* arrow-btn */
.upcoming .inner {
    position: relative;
}

.arrow-btn>li>a {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    margin-top: 50px;
}

.arrow-btn>.left-btn>a {
    left: 12px;
}

.arrow-btn>.right-btn>a {
    right: 12px;
}

/* main- 바로가기 버튼 */
.info-wrap {
    margin-bottom: 60px;
    padding-top: 50px;
}

.info-list {
    display: flex;
    justify-content: center;
    gap: 156px;
    text-align: center;
}

.info-list>li>img {
    margin-bottom: 12px;
    <<<<<<< HEAD=======
}