<<<<<<< HEAD
=======
/* header */
header {
    height: 6.25em;
    background-color: rgba(248, 248, 248, 0.5);
/* 공통영역 */
.inner {
    width: calc(1920px - 320px);
    margin: 0 auto;
    background-color: rgba(255, 0, 0, 0.08);
}

body {
    background-color: #121212;
    width: 100vw;
    height: 400vh;
    color: white;
}

/* header */
header {
    background: rgba(0, 0, 0, 0.65);
    padding-top: 48px;
}

header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 24px; */
    padding: 4px 48px;

}

/* 로고 */
header .main-logo {
    width: 200px;
}

/* 메인메뉴 */

.main-menu {
    display: flex;
    padding: 0 12px;
    gap: 14px;
    position: relative;
}

.main-menu>li {
    position: relative;
    /* 서브 메뉴의 기준점 */
    /* display: block; */
    padding: 12px 10px;
    line-height: 1.5;
    border-bottom: 2px solid transparent;
    /* transition: ease-in-out; */
    /* background-color: rgba(255, 0, 0, 0.08); */
}

/* 메인메뉴 hover */

.main-menu>li::after {
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background: #da291c;
    position: absolute;
    /* 선이 가운데에서 효과 시작하기 */
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    transition: ease-in-out 0.3s;
}

.main-menu>li:hover::after {
    width: 100%;
}


/* 서브메뉴 */
.sub-menu-wrap {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    /* width: 100vw; */
    /* background-color: rgba(255, 0, 0, 0.08); */
    padding: 12px 0;
    /* display: none; */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s;
}

.sub-menu {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.main-menu>li:hover .sub-menu-wrap {
    /* display: block; */
    opacity: 1;
    visibility: visible;
}


/* 헤더 우측 메뉴 */
.header-side-menu {
    display: flex;
    gap: 12px;
}

.header-side-menu>li>a>span {
    position: absolute;
    top: -99999px;
}





/* 메인 슬라이드 */
.main-slider-wrap {}

}

.inner {
    max-width: 1600px;
    margin: 0 auto;
    background-color: rgba(255, 0, 0, 0.2);
    padding: 0 20px;
}

header>.inner {
    background-color: rgba(255, 255, 0, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;

}

.ham-btn {
    display: none;
}

header .header-right img {
    /* height: 54px; */
    /* max-height: 54px; */
    /* width: 18.75em; */
    max-width: 300px;
}

header .main-menu {
    display: flex;
    position: relative;
    border: 2px solid #fff;
}

header .main-menu>li {
    font-size: 1.25em;
    display: flex;
    flex-direction: column;
    gap: 1.875em;
    align-items: center;
    padding: 10px 10px;
    position: relative;
}

header .main-menu>li>a {
    display: block;
}

header .main-menu>li:hover .sub-wrap {
    display: block;

}

header .main-menu>li:hover::after {
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    height: 3px;
    background: #DA291C;
    /* border-bottom: 3px solid #DA291C; */
    bottom: 0;
    left: 0;
}

header .main-menu .sub-wrap {
    position: absolute;
    top: 100%;
    display: none;
}

header .main-menu .sub-menu {
    display: flex;
    /* background-color: aqua; */
    gap: 20px;
}

/* 메뉴사이즈 20px 소메뉴 16px 푸터 14px*/

header .main-menu .sub-menu>li:hover {
    color: #DA291C
}

header .gnb-list {
    display: flex;
    gap: 1.25em;
}

/* main */

/* 혜택/ 이벤트 */
.event-wrap {
    padding: 50px 0;
}

.event-wrap-inner {
    display: flex;
    gap: 47px;
}

.event-wrap .event-name-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.event-wrap .event-name-search>h2 {
    font-size: 36px;
    font-weight: bold;
}

.event-wrap .event-name-search>p {
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 0;
}

.event-left {
    position: relative;
    padding: 0 38px;
    width: 1200px;
    overflow: hidden;
}

.event-slider {
    display: flex;
    align-items: center;
    gap: 38px;
    margin-top: 50px;
}

.event-slider>li>a {
    position: relative;
}

.event-slider>li>a .img-box {
    width: 302px;
    height: 400px;
    border-radius: 30px;
    overflow: hidden;
}

.event-slider .main .img-box {
    width: 400px;
    height: 530px;
    border-radius: 30px;
}

.event-slider>li>a .img-box>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.event-slider>li>a .text-box {
    position: absolute;
    gap: 12px;
    width: 200px;
    text-align: center;
    bottom: 22px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

.event-slider .main .text-box>h3 {
    font-size: 20px;
    font-weight: bold;
}

.event-slider .main .text-box>p {
    font-size: 16px;
    font-weight: 500;
}

.event-slider .main .text-box>span {
    font-size: 16px;
    font-weight: 500;
}

.event-slider>li>a .text-box>h3 {
    padding-bottom: 4px;
    font-size: 16px;
    font-weight: bold;
}

.event-slider>li>a .text-box>p {
    padding-bottom: 12px;
    font-size: 14px;
    font-weight: 500;
}

.event-slider>li>a .text-box>span {
    font-size: 14px;
    font-weight: 500;
    color: #8F9191;
}

.event-slider>li>a::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    border-radius: 30px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.arrow-btn>li>a {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.arrow-btn .arrow-btn-left>a {
    left: 0;
}

.arrow-btn .arrow-btn-right>a {
    right: 0px;
}

.preview {
    position: relative;
    margin: 50px 0 20px;
}

.preview:hover .img-box img {
    transform: scale(1.2);
}

.preview .img-box {
    width: 400px;
    height: 260px;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    /* z-index:; */
}


.preview .img-box::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 99;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.preview .img-box::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 30%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.preview .img-box>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}



.preview .img-box p {
    position: absolute;
    font-size: 24px;
    font-weight: 600;
    top: 24px;
    right: 14px;
    z-index: 100;
}

.preview .text-box {
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 100;
}

.preview .text-box h3 {
    font-size: 32px;
    font-weight: 600;

}

.preview .text-box p {
    font-size: 16px;
    font-weight: 500;

}

.sale {
    width: 400px;
    height: 250px;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    background: linear-gradient(to bottom, rgba(85, 85, 85, 1) 0%, rgba(38, 38, 38, 1) 100%);
    transition: 0.5s;
}


.sale:hover .NuriCard {
    transform: scale(1.3);
}

.sale .NuriCard {
    position: absolute;
    width: 300px;
    bottom: 0;
    right: 0;
    transition: 0.5s;
}

.sale .sale-top {
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 33px 31px 10px 40px;
}


.sale .sale-top {
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 33px 31px 10px 40px;
}

.sale .sale-top>p {
    font-size: 16px;
    font-weight: 500;
}

.sale .sale-top>span {
    font-size: 32px;
    font-weight: 600;
}

.sale .sale-mid {
    display: flex;
    gap: 29px;
    padding-left: 40px;
    padding-right: 109px;
}

.sale .sale-mid>p {
    font-size: 24px;
    font-weight: 600;
}


>>>>>>> f7db3cf9f7ba29e30807c3e698e027de3534d34a
/* main - 상영예정작 */
main h2 {
    background-color: rgba(255, 255, 0, 0.5);
    /* max-width: 1600px; */
    font-size: 2.25em;
}

main .upcoming-top {
    display: flex;
    margin: 50px 0;
    justify-content: space-between;
}


.more-area {
    position: relative;
    width: 24px;
    height: 40px;
}

/* + 버튼 */
.more-btn {

    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: end;
    transition: opacity 0.2s ease, transform 0.2s ease;
}

/* 검색폼 */
.movie-search-form {
    border: 1px solid #fff;
    border-radius: 50px;
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.9);
    transition: opacity 0.25s ease, transform 0.25s ease;
}

.movie-search-form button {
    background: none;
    border: none;
}

.movie-search-form input {
    background: none;
    border: none;
}


/* hover 상태 */
.more-area:hover .more-btn {
    opacity: 0;
    transform: scale(0.8);
}

.more-area:hover .movie-search-form {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}


/* 상영예정작 - 리스트 */

.upcoming-list>li>a {
    position: relative;

}

.upcoming-wrap2 {
    border: 1px solid #fff;
    overflow: hidden;
    margin: 0 50px;
}

.upcoming-list {
    background-color: rgba(0, 255, 0, 0.15);
    display: flex;
    width: calc(100% * 10 / 5);
    margin: 0 auto;
    gap: 2em;
}

.upcoming-list>li>a {
    position: relative;
    /* background-color: bisque; */
}

.upcoming-list>li {
    width: 20%;
}

.upcoming-list .img-box {
    /* background-color: aliceblue; */
    /* width: 16.5em; */
    position: relative;
}

.upcoming-list .img-box .poster>img {
    width: 100%;
    border-radius: 15px;
}

.upcoming-list .img-box .dday {
    background-color: #8F9191;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background: none;
    background-repeat: no-repeat;
}


.upcoming-list .text-box>p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}


.upcoming-list .text-box>p:first-child>img {
    width: 1em;
    height: 1em;
}

.upcoming-list .text-box>p:first-child {
    font-size: 1.25em;
    display: flex;
    justify-content: center;
    /* white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}


.upcoming-list .text-box>p:last-child {
    font-size: 0.875rem;
    color: #8F9191;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

/* arrow-btn */
.upcoming .inner {
    position: relative;
}

.arrow-btn>li>a {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    margin-top: 50px;
}

.arrow-btn>.left-btn>a {
    left: 12px;
}

.arrow-btn>.right-btn>a {
    right: 12px;
}

/* main- 바로가기 버튼 */
.info-wrap {
    margin-bottom: 60px;
    padding-top: 50px;
}

.info-list {
    display: flex;
    justify-content: center;
    gap: 156px;
    text-align: center;
}

.info-list>li>img {
    margin-bottom: 12px;
<<<<<<< HEAD
=======
}



/* footer */
footer>.inner {
    background-color: #555;
    display: flex;
    flex-direction: column;
}

footer .footer-top {
    display: flex;
    justify-content: space-between;
}

footer .footer-menu-list {
    display: flex;
    font-size: 0.875em;
    gap: 1.5em;
    padding-left: 0.625em;
}

.search-form {
    border: 1px solid #fff;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    padding: 5px 10px;
}

.search-form button {
    background: none;
    border: none;
}

.search-form input {
    background: none;
    border: none;
}

footer .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .footer-bottom .address-copy>address>p strong {
    font-size: 0.875em;
    padding: 5px;
}

footer .footer-bottom .address-copy>address>p span {
    font-size: 0.875em;
    padding: 5px;
}

footer .footer-bottom .address-copy .copy {
    font-size: 0.875em;
    padding: 5px;
}


footer .ft-bottom-right {
    display: flex;
    justify-content: space-between;
    gap: 1.5em;
    align-items: center;
}

.address-copy {
    line-height: 1.4;
    gap: 1em;
}

.footer-bottom-right {
    display: flex;
    gap: 9em;
}

footer .family-mark {
    display: flex;
    align-items: center;
}

footer .sns-list {
    display: flex;
}

.sns-list>li>a {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #444;
    width: 50px;
    height: 50px;
    border-radius: 50px;
.arrow-btn .right-btn {
    right: 300px;
}






/* 본문 */
.curator-part {
    margin: 50px 0;
}

.curator-part>.inner {
    padding: 0 10px;
}

.curator-part>.inner>h2 {
    font-size: 2.25em;
}

/* curator-menu */
.curator-menu {
    display: flex;
    /* gap: 24px; */
    margin: 24px 0;
    align-items: center;
}

.curator-menu>li {
    position: relative;
    padding: 0 12px;
}

.curator-menu>li:nth-child(2)::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 2px;
    height: 12px;
    background-color: rgba(255, 255, 255, 0.75);
}

.curator-menu>li>a {
    display: block;
    padding: 8px 20px;
    transition: 0.18s ease-in-out;
    font-size: 1.25em;
}

.curator-menu>li>a:hover {
    color: #da291c;
    font-weight: 700;
}

/* curator-moive-inner-wrap - 숨김처리 하는 영역*/

/* curator-moive-set - 추천영화 리스트 아이템*/
.curator-moive-set {
    display: flex;
    gap: 24px;
}

/* 추천 리스트 아이템 1번 */
/* curator-moive-item */
.curator-moive-item {
    display: flex;
    gap: 10px;
}

/* 추천 리스트 아이템 - 영화 포스터*/
.curator-moive-poster {
    max-width: 385px;
    object-fit: cover;
    border-radius: 12px;
    overflow: hidden;
}

.curator-moive-poster>img {
    width: 100%;
    height: 100%;
}

/* 추천 리스트 아이템 - 우측영역 세로 정렬 */
.curator-moive-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px 0;
}

/* 추천 리스트 아이템 - 제목*/
.curator-moive-info .title-wrap {
    display: flex;
    /* gap: 12px; */
    align-items: center;
}

.curator-moive-info .title-wrap>h3 {
    font-size: 2.25em;
}

.curator-moive-info .title-wrap>span {
    width: 1.5em;
    aspect-ratio: 1/1;
}

/* 추천 리스트 아이템 - 한줄평*/
.curator-moive-info .comment-wrap {
    display: flex;
    gap: 12px;
    align-items: center;
    /* margin: 1.25em 0; */
}

.curator-moive-info .comment-wrap>span {
    width: 1em;
    aspect-ratio: 1/1;
}

.curator-moive-info .comment-wrap>p {
    font-size: 1.25em;
}

/* 추천 리스트 아이템 - 영화내용*/
.curator-moive-info .plot-info {
    font-size: 1.125em;
    color: #cbcbcb;
}

/* 하단 영화 알아보기 버튼 */
.curator-moive-act-wrap {
    display: flex;
    gap: 12px;
}

.curator-moive-act-wrap>li>a {
    display: block;
    padding: 12px 40px;
    border: 1px solid white;
    border-radius: 100px;
    /* margin-top: 10px; */
}

.curator-moive-act-wrap>li.accent>a {
    border-color: transparent;
    background-color: #da291c;
    font-weight: 700;
}


/* footer */
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    /* 실제적용 */
    background: rgba(0, 0, 0, 0.65);
    font-size: 14px;
}


footer>.inner {
    padding: 0 20px;
    margin: 10px auto;
}

/* footer - 상단 */
.footer-top {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-menu {
    display: flex;
    gap: 10px;

}

.search-form {
    border: 1px solid white;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    gap: 8px;
    padding: 5px 10px;
}

.search-form button,
.search-form input {
    background: none;
    border: none;
}

.search-form input {
    font-family: inherit;
    color: rgba(255, 255, 255, 0.75);
}

/* footer - 하단 */
.footer-buttom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.family-award {
    display: flex;
}

.family-award .text-box {
    font-size: 0.875em;
}

.sns-list {
    display: flex;
    gap: 20px;
>>>>>>> f7db3cf9f7ba29e30807c3e698e027de3534d34a
}