/* main */


/* main- 바로가기 버튼 */
.info-wrap {
    margin-bottom: 60px;
    padding-top: 50px;
}

.info-list {
    display: flex;
    justify-content: center;
    gap: 156px;
    text-align: center;
}

.info-list>li>img {
    margin-bottom: 12px;
}